# snippets for rst-ified text files

# python syntax highlighting
snippet code ".. code:: python"
.. code:: python

..

endsnippet

# c++ syntax highlighting
snippet codec ".. code:: c++"
.. code:: c++

..

endsnippet

# basic bloc
snippet bloc ".. indent .."
.. 

..

endsnippet

